<!DOCTYPE html>
<html>
  <head>
    <title>question</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel='stylesheet' href='/stylesheets/question.css' />
  </head>
  <body>
    <form action="" method="post" class="form">
       <div class="classify">
       	
       </div>
       <input type="text" name="tag" class="tag" placeholder="标题：一句话说清问题"/>
       <textarea name="content" id="text" cols="30" rows="10">
       	1.描述你的问题
       	2.贴上相关代码
       	3.贴上报错信息
       </textarea>
      <p>
       <input type="submit" value="发布问题" class="send">
     </p>
  </form>
  <script src="../public/javascripts/jquery-3.2.1.js"></script>
  <script>
//	$(".send").click(function(){
//		//问题传成功，提示上传成功跳转到ask页面
//		window.location.href="/ask";
//	})
  </script>
  </body>
</html>
