<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/javascripts/jQuery-3.2.1.js"></script>
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css">
</head>

<body>
    <div id="header" class="header">
        <a href="/"><img class="logo" src="/images/mountainTop.png" alt=""></a>
        <ul class="top-nav">
            <li>
                <a class="top-btn" id="addBtn" href=""><img src="/images/加号.png" alt=""></a>
            </li>
            <li>
                <a class="top-btn cd-signin" id="accountBtn"><img src="/images/账户.png" alt=""></a>
            </li>
            <li>
                <a class="top-btn" id="search"><img src="/images/放大镜.png" alt="">
                </a>
            </li>
        </ul>
        <div id="search-box" class="search-box-off">
            <form action="" method="get" id="searchForm">
                <input class="search-text" id="search-text" type="text" placeholder="请输入">
                <input id="search-btn" class="search-btn" value="搜索" type="submit">
            </form>
        </div>
        <div id="account-box" class="account-box-off">
            <ul id="act-list" class="act-list">
            </ul>
        </div>
    </div>
    <div class="ask-list">
        <div class="new-ask">
            <h1>最新提问</h1>
        </div>
        <div class="ask">
            <div class="list-left">Top1</div>
            <div class="list-message">标题信息</div>
            <div class="list-author">作者</div>
            <div class="list-type">分类</div>
        </div>
    </div>
    <div class="container">
        <!-- 分页条-->
        <nav>
            <ul class="pagination">
            </ul>
        </nav>
        <script type="text/javascript">
            //分页条的Ajax
            $.get("/getshuoshuoamount", function(result) {
                var amount = parseInt(result);
                //总页数
                pageamount = Math.ceil(amount / 20);
                for (var i = 0; i < pageamount; i++) {
                    $(".pagination").append("<li><a href='javascript:void(0);'>" + i + "</a></li>");
                }
                $(".pagination li:first").addClass("active");
                //监听
                $(".pagination li").click(function() {
                    var page = $(this).index();
                    getPage(page);
                    $(this).addClass("active").siblings().removeClass("active");
                });
            })
        </script>
        <!-- 分页条-->
        <!-- 20条记录 -->
        <div class="row" id="quanbushuoshuo">
            <script>
                var $quanbushuoshuo = $("#quanbushuoshuo");
                //得到模板函数
                var compiled = _.template($("#moban").html());

                getPage(0);
                //请求分页的说说信息
                function getPage(page) {
                    //将现在的页面内容清除
                    $("#quanbushuoshuo").html("");
                    $.ajax({
                        "url": "/getallshuoshuo?page=" + page,
                        "type": "get",
                        "success": function(result) {
                            //result是一个数组
                            //console.log(Array.isArray(result));
                            iterator(0);
                            //迭代器
                            function iterator(i) {
                                if (i == result.length) {
                                    //在这里书写请求完毕之后做的事情
                                    return; //不用继续迭代了
                                }
                                $.get("/getuserinfo?username=" + result[i].username, function(result2) {
                                    //修改字典，给字典增加一项
                                    result[i].avatar = result2.avatar;
                                    //组装模板
                                    var htmlstring = compiled(result[i]);
                                    //添加DOM
                                    $("#quanbushuoshuo").append($(htmlstring));
                                    iterator(i + 1);
                                });
                            }
                        }
                    });
                }
            </script>
        </div>
        <!-- 20条记录 -->
    </div>
    <div id="footer" class="footer">
        <p>©LEO</p>
    </div>
    <script src="/javascripts/common.js"></script>
</body>

</html>