<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
</head>

<body>
    <div class="bodyBox">
        <a href="/register"><img class="logo" src="/images/mountainTop.png" alt=""></a>
        <form method="post" class="reg-body">
            <input type="text" name="username" placeholder="请输入用户名">
            <input type="password" name="password" placeholder="请输入密码">
            <input type="submit" value="立即注册">
        </form>
    </div>
</body>

</html>